
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..700;1,400..700&display=swap');


@import "tailwindcss";


:root {
  --font-playfair: "Playfair Display", serif;
}


body {
  font-family: var(--font-playfair);
}


.font-playfair {
  font-family: var(--font-playfair);
}
